.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  *{
    margin: 0;
}


.navbar{
    height: 40px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 2px 0px black;
    
}
  
  html {
    box-sizing: border-box;
  }
  .navbar a{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
}
.navbar input{
    float: left;
    margin-left: 100px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    width: 20%;
    height: 20px;
    text-align: center;
}
.search i{
  margin-top: 2px;
  float: left;
}
#logo{
  float: left;
  font-family: cursive;
  font-weight: 100px ;
  margin-top: -10px;
}

#active:hover{
  background-color: rgb(12, 12, 12);
  color: white;
  border-radius: 3px;
  
}
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    display: flex;
    flex-direction: row;
  }
  
  .container {
    margin-left: 60%;
    
    height: 300px;
    width: 180px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  /* .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #d22626;
    text-align: center;
    cursor: pointer;
    width: ;
  } */
  
  /* .button:hover {
    background-color: #555;
  } */
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .btn{
    color: rgb(125, 55, 55);
    background-color: white;
    width: 100px;
    height: 20px;
  }
  .card{
    margin-left: 10%;
    
    height: 300px;
    width: 180px;
  }
  .card img{
    margin-left: 60%;
    background-color: aqua;
    height: 300px;
    width: 220px;
  }